# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/compiler.xml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
HelloWorldLab.iml
pom.xml
src/test/
target/
src/main/
